body {
  background: cornsilk;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

track-position {
  margin-top: 1em;
  font-size: 2.4em;
}

track-clicks {
  margin-top: 1em;
  font-size: 2em;
}

chat-messages {
  padding-top: 5em;
}

p {
  max-width: 53em;
}